@font-face {
    font-family: Mukta;
    src: url(../style/Mukta-Regular.ttf);
}
@font-face {
    font-family: titulo;
    src: url(../style/titulo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta";
}

$color1: #FCDE19;
$color2: #1515D1;
$color3: #0045AF;
$colorMuyMalo: #a00;
$colorMalo: #aa3500;
$colorNormal: #0068AF;
$colorBueno: #35af33;
$colorElite: #006400;
$colorBlack: #000;
$colorWhite: #fff;

body{
    background-color: #0045AF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='268' height='268' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231515D1' stroke-width='3.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23856D00'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $color1;
    background: rgba( $colorBlack, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.62 );
    backdrop-filter: blur( 4px );
    margin-bottom: 20px;
    top: 0;
    position: fixed;
    z-index: 1;
    height: 100px;
    :nth-child(1){
        line-height: 100px;
        margin-left: 25px;
        font-family: 'titulo';
        width: 60%;
        font-size: 4.86vw;
        color: $color1;
        text-shadow: 5px 5px 8px $colorBlack;
    }
    :nth-child(2){
        width: 40%;
        display: flex;
        justify-content: end;
        img{
            height: 100px;
            width: 95px;
        }
    }
}
main{
    min-height: 100vh;
}
#attr{
    margin: 150px 0 20px 0;
}
#pje{
    display: none;
}
#error{
    width: 100%;
    padding: 25px;
    font-size: 24px;
    color: $colorWhite;
    border-top: 2px solid $color1;
    border-bottom: 2px solid $color1;
    border-radius: 10px;
    background: rgba( $colorBlack, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.62 );
    backdrop-filter: blur( 4px );
}
.attributes{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin-bottom: 20px;
    h1, h2{
        width: 100%;
        text-align: center;
        color: $colorWhite;
        font-size: 2.7vw;
        padding: 2.25vw 0;
        border-top: 2px solid $color1;
        border-bottom: 2px solid $color1;
        border-radius: 10px;
        background: rgba( $colorBlack, 0.3 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2px );
        margin-bottom: 20px;
        
    }
    .sector{
        background-color: rgba($colorBlack, 0.4);
        backdrop-filter: blur(2px);
        border: 2px solid $color1;
        margin: 0 2px 20px 2px;
        padding: 5px;
        box-shadow: 5px 5px 10px $colorBlack;
        h3{
            width: 100%;
            text-align: center;
            color: $color1;
            font-size: 2.16vw;
            font-weight: 700;
            text-transform: uppercase;
        }
        width: calc(25% - 4px);
        .att{
            display: flex;
            margin: 3px;
            height: 2.45vw;
            max-height: 27px;
            p{
                width: 70%;
                color: $colorWhite;
                font-size: 1.57vw;
            }
            input{
                width: 20%;
                text-align: center;
                font-weight: 600;
                border-radius: 15px;
                &::-webkit-inner-spin-button{
                    appearance: none;
                }
            }
        }

    }
    .button{
        width: 100%;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        button{
            height: 3.6vw;
            min-height: 28px;
            width: 10vw;
            min-width: 60px;
            border: 2px solid $color1;
            border-radius: 4px;
            color: $color2;
            font-weight: 800;
            text-transform: uppercase;
            background-color: $colorWhite;
            box-shadow: 5px 5px 8px $colorBlack;
            cursor: pointer;
            transition: all 450ms;
            &:hover{
                background-color: $color3;
                color: $color1;
                border: 2px solid $colorWhite;
                box-shadow: 15px 15px 18px $colorBlack;
            }
        }
    }
   
    .puntajes{
        margin: 0 5px;
        border: 2px solid $color1;
        background-color: rgba($colorBlack, 0.4);
        backdrop-filter: blur(2px);
        box-shadow: 5px 5px 10px $colorBlack;
        h3{
            text-align: center;
            color: $color1;
            text-transform: uppercase;
        }
        width: calc(24% - 4px);
        p{
            margin: 3px 0;
            text-transform: capitalize;
        }
        .pos{
            width: 100%;
            display: flex;
            justify-content: space-around;
            :nth-child(1){
                width: 75%;
                font-size: 1.25vw;
            }
            :nth-child(2){
                width: 20%;
                font-weight: 900;
                font-size: 1.25vw;
            }
        }
    }
}

.muyMalo{
    border:2px solid $colorMuyMalo;
    color: $colorMuyMalo;
    text-align: center;
    background-color: $colorWhite;
}
.malo{
    border:2px solid $colorMalo;
    color: $colorMalo;
    text-align: center;
    background-color: $colorWhite;
}
.normal{
    border:2px solid $colorNormal;
    color: $colorNormal;
    text-align: center;
    background-color: $colorWhite;
}
.bueno{
    border:2px solid $colorBueno;
    color: $colorBueno;
    text-align: center;
    background-color: $colorWhite;
}
.elite{
    border:2px solid $colorElite;
    color: $colorElite;
    text-align: center;
    background-color: $colorWhite;   
}
footer{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background: $color3;
    border-top: 2px solid $color1;
    img{
        max-width: 100px;
    }
    div{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        color: $colorBlack;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        p{
            width: 43%;
            text-align: end;
        }
        a{
            text-decoration: none;
            color: $colorWhite;
            text-transform: uppercase;
            width: 55%;
        }
    }
}
#sfcutnujwj352cmtxjedptbbmu2gkxxc3km{
    scale: 0.8;
    margin-left: -11vw;
}