@font-face {
  font-family: Mukta;
  src: url(../style/Mukta-Regular.ttf);
}
@font-face {
  font-family: titulo;
  src: url(../style/titulo.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta";
}

body {
  background-color: #0045AF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='268' height='268' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231515D1' stroke-width='3.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23856D00'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 2px solid #FCDE19;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.62);
  padding-top: 5px;
  backdrop-filter: blur(4px);
  margin-bottom: 20px;
  top: 0;
  position: fixed;
  z-index: 1;
  height: 100px;
}
nav .logo1 {
  line-height: 30px;
  margin-left: 25px;
  font-family: "titulo";
  width: 50%;
  font-size: 3.86vw;
  color: #FCDE19;
  text-shadow: 5px 5px 8px #000;
}
nav .logo2 {
  width: 10%;
  display: flex;
  justify-content: end;
}
nav .logo2 img {
  height: 70px;
  width: 65px;
}
nav .lenguaje {
  width: 35%;
  display: flex;
  justify-content: end;
}
nav .lenguaje button {
  width: 12%;
  height: 30px;
  font-weight: 600;
  margin: 0 7px;
  border: 2px solid #FCDE19;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
  transition: 450ms;
}
nav .lenguaje button:hover {
  background: #fff;
  color: #0045AF;
  border: 2px solid #1515D1;
  cursor: pointer;
}
nav .ulMenu {
  width: 100%;
  display: flex;
}
nav .ulMenu li {
  list-style: none;
}
nav .ulMenu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 16px;
  transition: all 0.35s;
  margin: 0 4px;
  display: block;
}
nav .ulMenu a:hover {
  color: #FCDE19;
  font-size: 18px;
}
nav .ulMenu .btnMenu {
  width: 20vw;
}
nav .ulMenu .btnMenu .btnSubMenu {
  display: none;
  background-color: #0045AF;
  filter: drop-shadow(10px 10px 10px #000);
}
nav .ulMenu .btnMenu .btnSubMenu:hover {
  background-color: #1515D1;
}
nav .ulMenu .btnMenu:hover .btnSubMenu {
  display: block;
}

main {
  min-height: 100vh;
}

#attr {
  margin: 150px 0 20px 0;
}

#pje {
  display: none;
}

#error {
  width: 100%;
  padding: 25px;
  font-size: 24px;
  color: #fff;
  border-top: 2px solid #FCDE19;
  border-bottom: 2px solid #FCDE19;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(4px);
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  margin-bottom: 20px;
}
.attributes h1,
.attributes h2,
.attributes h4 {
  width: 100%;
  text-align: center;
  color: #fff;
  border-top: 2px solid #FCDE19;
  border-bottom: 2px solid #FCDE19;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
}
.attributes h1, .attributes h2 {
  font-size: 2.7vw;
  padding: 2.25vw 0;
  margin-bottom: 20px;
}
.attributes h4 {
  font-size: 1.3vw;
  padding: 1vw 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.attributes .sector {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  border: 2px solid #FCDE19;
  margin: 0 2px 20px 2px;
  padding: 5px;
  box-shadow: 5px 5px 10px #000;
  width: calc(25% - 4px);
}
.attributes .sector h3 {
  width: 100%;
  text-align: center;
  color: #FCDE19;
  font-size: 2.16vw;
  font-weight: 700;
  text-transform: uppercase;
}
.attributes .sector .att {
  display: flex;
  margin: 3px;
  height: 2.45vw;
  max-height: 27px;
}
.attributes .sector .att p {
  width: 70%;
  color: #fff;
  font-size: 1.57vw;
}
.attributes .sector .att input {
  width: 20%;
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
}
.attributes .sector .att input::-webkit-inner-spin-button {
  appearance: none;
}
.attributes .button {
  width: 100%;
  margin: 15px 0 30px 0;
  display: flex;
  justify-content: center;
}
.attributes .button button {
  height: 3.6vw;
  margin: 0 0.5vw;
  min-height: 28px;
  width: 10vw;
  min-width: 60px;
  border: 2px solid #FCDE19;
  border-radius: 4px;
  color: #1515D1;
  font-size: 1vw;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 5px 5px 8px #000;
  cursor: pointer;
  transition: all 450ms;
}
.attributes .button button:hover {
  background-color: #0045AF;
  color: #FCDE19;
  border: 2px solid #fff;
  box-shadow: 15px 15px 18px #000;
}
.attributes .puntajes {
  margin: 0 5px;
  border: 2px solid #FCDE19;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 10px #000;
  width: calc(24% - 4px);
}
.attributes .puntajes h3 {
  text-align: center;
  color: #FCDE19;
  text-transform: uppercase;
}
.attributes .puntajes p {
  margin: 3px 0;
  text-transform: capitalize;
}
.attributes .puntajes .pos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.attributes .puntajes .pos :nth-child(1) {
  width: 75%;
  font-size: 1.25vw;
}
.attributes .puntajes .pos :nth-child(2) {
  width: 20%;
  font-weight: 900;
  font-size: 1.25vw;
}

.muyMalo {
  border: 2px solid #a00;
  color: #a00;
  text-align: center;
  background-color: #fff;
}

.malo {
  border: 2px solid #aa3500;
  color: #aa3500;
  text-align: center;
  background-color: #fff;
}

.normal {
  border: 2px solid #0068AF;
  color: #0068AF;
  text-align: center;
  background-color: #fff;
}

.bueno {
  border: 2px solid #35af33;
  color: #35af33;
  text-align: center;
  background-color: #fff;
}

.elite {
  border: 2px solid #006400;
  color: #006400;
  text-align: center;
  background-color: #fff;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background: #0045AF;
  border-top: 2px solid #FCDE19;
}
footer img {
  max-width: 100px;
}
footer div {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer div p {
  width: 43%;
  text-align: end;
}
footer div a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 55%;
}

#sfcutnujwj352cmtxjedptbbmu2gkxxc3km {
  scale: 0.8;
  margin-left: -11vw;
}

#jugadores {
  margin: 150px 3vw 25px 3vw;
  border: 2px solid #FCDE19;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 10px #000;
}
#jugadores div .posicion {
  width: 100%;
}
#jugadores div .posicion h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#jugadores div .renglon {
  display: flex;
  width: 100%;
  color: #fff;
  border-bottom: 2px solid #0045AF;
  transition: all 0.3s;
}
#jugadores div .renglon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#jugadores div .renglon .nombre {
  width: 20%;
  margin-left: 3px;
  line-height: 31px;
}
#jugadores div .renglon .nombreLargo {
  font-size: 14px;
  width: 20%;
  margin-left: 3px;
  line-height: 31px;
}
#jugadores div .renglon .roles {
  margin: 0 4px;
  text-align: center;
}
#jugadores div .gk .roles {
  width: 100px;
}
#jugadores div .dfc .roles,
#jugadores div .lat .roles,
#jugadores div .mc .roles,
#jugadores div .mec .roles {
  width: 90px;
}

::-webkit-scrollbar {
  background: #fff;
  width: 10px;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #0045AF;
}

.large {
  font-size: 12px;
}

.short {
  font-size: 14px;
}

.titular {
  margin: 150px auto 0;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid #FCDE19;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
}
.titular h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.botonera {
  margin-top: 15px;
}
.botonera div {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  width: 90%;
  flex-wrap: wrap;
}
.botonera div button {
  width: 150px;
}

#data {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(4px);
  width: 96%;
  margin: 12px auto;
}
#data .ind {
  display: flex;
  border: 1px solid #FCDE19;
}
#data .ind div {
  line-height: 40px;
  width: 12.5%;
  border-right: 1px solid #0045AF;
  color: #fff;
  text-align: center;
  height: 40px;
}

.encuentros {
  width: 96%;
}

.liga {
  width: 70%;
}

.ligaHistorico {
  width: 25%;
}
.ligaHistorico .renglon {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ligaHistorico .renglon .data {
  width: 15%;
}
.ligaHistorico .renglon .equipo {
  width: 55%;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.encuentros, .liga, .ligaHistorico {
  margin: 150px auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  padding: 22px;
  border-radius: 22px;
  border-top: 2px solid #FCDE19;
  border-bottom: 2px solid #FCDE19;
}
.encuentros a, .liga a, .ligaHistorico a {
  background-color: rgba(0, 0, 0, 0.3);
  color: #0045AF;
  padding: 0 4px;
  border: 2px solid #0045AF;
  text-decoration: none;
  border-radius: 4px;
  transition: 600ms;
}
.encuentros a:hover, .liga a:hover, .ligaHistorico a:hover {
  background-color: #fff;
  border: 2px solid #000;
}
.encuentros .encuentroRenglon, .liga .encuentroRenglon, .ligaHistorico .encuentroRenglon {
  display: flex;
  border-bottom: 1px solid #0045AF;
}
.encuentros div, .liga div, .ligaHistorico div {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.encuentros .ident, .liga .ident, .ligaHistorico .ident {
  width: 2%;
}
.encuentros .ronda, .liga .ronda, .ligaHistorico .ronda {
  width: 5%;
}
.encuentros .fecha, .liga .fecha, .ligaHistorico .fecha {
  width: 6%;
}
.encuentros .myTeam, .liga .myTeam, .ligaHistorico .myTeam {
  width: 17%;
}
.encuentros .myTeamEuro, .liga .myTeamEuro, .ligaHistorico .myTeamEuro {
  width: 22%;
}
.encuentros .goles, .liga .goles, .ligaHistorico .goles {
  width: 4%;
}
.encuentros .estadio, .liga .estadio, .ligaHistorico .estadio {
  width: 31%;
}
.encuentros .vc, .liga .vc, .ligaHistorico .vc {
  background-color: #00af65;
}
.encuentros .dr, .liga .dr, .ligaHistorico .dr {
  background-color: #af0031;
}
.encuentros .em, .liga .em, .ligaHistorico .em {
  background-color: #a6a100;
}

.temporadas {
  margin: 150px auto 25px;
  width: 90%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 10px;
  border-top: 2px solid #FCDE19;
  border-bottom: 2px solid #FCDE19;
}
.temporadas .season {
  text-align: center;
  font-size: 1.4vw;
  color: #fff;
}
.temporadas .dorsal {
  border-bottom: 1px solid #0045AF;
  display: flex;
}
.temporadas .dorsal .numero {
  width: 5%;
  color: #fff;
}
.temporadas .dorsal .jugador {
  width: 12%;
  color: #fff;
}
.temporadas .dorsal div {
  text-align: center;
  font-size: 12px;
}

.viejo {
  width: 4%;
  color: #aa3500;
  font-weight: 600;
}

.joven {
  width: 4%;
  color: #006400;
  font-weight: 600;
}

.medio {
  width: 4%;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
